.app-task {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.task-list-principal {
    width: 600px;
    min-height: 500px;
    background-color: #d0d0d5;
    padding: 25px;
    margin: 10px;
    border-radius: 15px;
}